publish/Application Files/BurstAIOWallet_1_0_0_5/ru/DevExpress.Data.v15.2.resources.dll.deploy
BurstAIOWallet/bin/x86/Release 2/XMLFile1.xml
BurstAIOWallet/BookOfSecrets.xls
BurstAIOWallet/BookOfSecrets.mdf
BurstAIOWallet/BookOfSecrets.ldf
BurstAIOWallet/bin/x64/Release 2/XMLFile1.xml
BurstAIOWallet/bin/x64/Release 2/savedIds.conf
BurstAIOWallet/bin/x64/Release 2/logPlots.txt
BurstAIOWallet/bin/x64/Release 2/Cache/
BurstAIOWallet/bin/x64/Release 2/XPlotter/AstroCpuStart.bat